@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 10px;
  }

  .zag {
    text-align: center;
    font-size: 1.2rem;
  }

  .call {
    width: 90%;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .hed1 {
    font-size: 1.2rem;
    padding: 70px 10px;
  }

  .navig,
  .navig1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
  }
  .navig1 {
    position: static;
    justify-content: center;
    margin-top: 20px;
  }

  .iconnav {
    height: 60px;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 10px;
  }

  .diag-menu {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .diag,
  .diag-motor,
  .diag-comp {
    width: 90%;
    height: auto;
  }

  .prop1 {
    font-size: 1rem;
    margin: 20px 10px;
  }

  .que1 {
    font-size: 1.8rem;
    margin: 70px 10px 20px;
  }

  .prop,
  .rev_h1,
  .p-question {
    font-size: 1.8rem;
    margin: 20px 0;
  }

  .img-key {
    margin: 0 auto;
    justify-items: center;
    padding-left: 5px;
  }

  .marker {
    font-size: 1rem;
    padding: 0 10px;
    margin-top: -40px;
  }

  .podval {
    padding: 20px;
    height: auto;
  }

  .texty {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  input,
  .zapis {
    width: 90%;
    height: 50px;
    font-size: 1rem;
  }

  .reviews {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 10px;
  }

  .quest-answer {
    margin-left: 0;
    padding: 0 15px;
    font-size: 1rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  .contacts {
    font-size: 1.5rem;
  }

  .icon-fot {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
  }

  .services img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .grid-child1,
  .grid-child2,
  .grid-child3,
  .grid-child4,
  .grid-child5,
  .grid-child6 {
    margin-left: 0 !important;
    padding-left: 0 !important;
    grid-column: auto !important;
  }
}
